<div *ngIf="!col" class="alert alert-warning text-center py-2">Veuillez rechercher un Collegue</div>
<div *ngIf="col" class="containerAll">
    <div class="infosCollegue">
        <div class="containerPhoto">
            <img src="assets/{{col.photoUrl}}" alt="photo collègue">
        </div>
        <div class="labelsInfos">
            <div class="info">
                <p>Matricule:</p>
                <p>{{col.matricule}}</p>
            </div>
            <div class="separator"></div>
            <div class="info">
                <p>Nom:</p>
                <p>{{col.nom | uppercase}}</p>
            </div>
            <div class="separator"></div>
            <div class="info">
                <p>Prenom(s):</p>
                <p>{{col.prenoms}}</p>
            </div>
            <div class="separator"></div>
            <div class="info">
                <p>Date de naissance:</p>
                <p>{{col.dateDeNaissance | date:'dd/MM/yyyy'}}</p>
            </div>
            <div class="separator"></div>
            <div class="info">
                <p>Adresse mail:</p>
                <p *ngIf="modifier" title="{{col.email}}">{{col.email}}</p>
                <div *ngIf="!modifier" class="divInput">
                    <input type="text" placeholder="newEmail@mail.com">
                </div>
            </div>
            <div *ngIf="!modifier" class="separator"></div>
            <div class="info">
                <p *ngIf="!modifier">Url photo :</p>
                <div *ngIf="!modifier" class="divInput">
                    <input type="text" placeholder="/url/exemple.png">
                </div>
            </div>
        </div>
        <button *ngIf="modifier" (click)="modifierConsole()" type="button"
            class="btn btn-dark mx-auto px-2 py-1">Modifier</button>
        <button *ngIf="!modifier" (click)="modifierConsole()" type="button"
            class="btn btn-success mx-auto px-2 py-1">Valider</button>
    </div>
</div>